#contact-us {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.contact-bg {
	width: 80%;
	padding: 40px;
	border-radius: 15px;
    margin-top: 150px;
	background-color: #0a0a0a;
	display: flex;
	font-family: 'Heebo';
	margin-bottom: 100px;
	flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-heading {
    color: var(--purple);
    text-transform: uppercase;
}

.contact-p a {
    font-family: 'Roboto';
    color: rgb(204, 204, 204)
    font-size: 18px;
}

.contact-p a {
    text-decoration: none;
}

.contact-p a:hover {
    color: var(--purple);
}

.contact-body {
    margin-top: 30px;
    width: 60%;
}

.contact-input {
	width: 100%;
	padding: 10px 0;
	background: none;
	border: none;
	border-bottom: 1px solid #666;
	color: var(--font);
	font-size: 14px;
	outline: none;
	transition: border-color .2s;
	margin-bottom: 20px;
}

.contact-input:focus {
	border-bottom-color: var(--font);
}

.submit-buttons {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-top: 5px;
}

.submit-button {
	background: none;
	border: none;
	color: var(--purple);
	font-size: 14px;
	cursor: pointer;
	outline: none;
	margin: 0 0 0 20px;
	font-size: 18px;
}

.submit-button:hover {
	opacity: 0.7;
}

@media only screen and (max-width: 1280px) {
    .contact-bg {
        width: 95%;
        padding: 40px 10px;
    }

    .contact-body {
        width: 90%;
    }
}