body {
	overflow: hidden;
	overflow-x: hidden;
}

#highlight {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	z-index: 5;
	bottom: 40px;
	transform: translateX(-250px);
	transition: transform 1s;
}

.high-main {
	width: 250px;
	height: 400px;
	background-color: #0e0e0e;
	border-radius: 0 15px 15px 0;
	border: 3px solid var(--purple);
	border-left: none;
	display: flex;
	align-items: center;
	padding: 10px;
	text-transform: uppercase;
	font-family: 'Heebo';
	color: var(--purple);
	flex-direction: column;
}

.high-main a {
	color: var(--purple);
	font-size: 26px;
}

.high-hr {
	color: var(--purple);
	opacity: 1;
	width: 60%;
	//border: 1px solid var(--purple);
	margin: 0;
}

.poster-link {
	height: 100%;
	width: 100%;
	border-radius: inherit;
}

.event-poster {
	display: flex;
	width: 100%;
	height: 85%;
	justify-content: center;
	align-items: center;
	//border: 1.5px solid #15f7ff;
	border-radius: 10px;
}

.event-poster img {
	width: 100%;
	height: 100%;
	border-radius: inherit;
	box-shadow: 0px 1px 10px rgb(0 0 0);
}

.high-arrow {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	width: 30px;
	background-color: var(--purple);
	border-radius: 0 200px 200px 0;
	cursor:pointer;
	border: 2px solid var(--purple);
	border-left: none;
}

.high-arrow i {
	position: relative;
	left: -1px;
	color: var(--font);
	transition: all 1s;
	transform: rotateZ(0deg);
	font-size: 20px;
	
}

.arrow-active {
	transform: rotateZ(180deg)!important;
}

.high-active {
	transform: translateX(0)!important;
}

/* Landing */
#main-hero {
	display: flex;
	height: 100vh;
	width: 100vw;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	flex-shrink: 1;
}

.img-hero {
	display: flex;
	width: 50%;
	justify-content: center;
	flex-shrink: 1;
}

.img-hero img {
	width: 1000px;
	max-width: 1000px;
	height: auto;
	margin: 0 10px;
}

.hero-text {
	display: flex;
	width: 50%;
	flex-direction: column;
}

.hero-team {
	font-size: 42px;
	text-transform: uppercase;
	font-family: 'Heebo';
	stroke-width: 3;
	margin: 0;
}

.hero-team span {
	font-family: 'Samarkan';
	font-size: 50px;
}

.hero-type {
	font-size: 36px;
	color: var(--purple);
	font-family: 'Heebo';
}

.hero-tag {
	font-size: 20px;
	margin-top: 4px;
	color: var(--font);
}
/************/

/* ACHIEVEMENTS TAB */

#achievements {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
}

.achievements-bar {
	width: 80%;
	padding: 40px;
	border-radius: 15px;
	background-color: #0a0a0a;
	display: flex;
	font-family: 'Heebo';
	margin-bottom: 100px;
	flex-direction: column;
}

.wrapper-team {
	width: 100%;
	background-color: #0a0a0a;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.buttonWrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 80%;
}

.tab-button {
	letter-spacing: 1.2px;
	border: none;
	padding: 10px;
	background-color: #0a0a0a;
	color: var(--font);
	font-size: 18px;
	cursor: pointer;
	transition: 0.5s;
	border: 2px solid var(--font);
}

.tab-left {
	border-radius: 25px 0 0 25px;
}

.tab-right {
	border-radius: 0 25px 25px 0;
}

.tab-button.active {
	border: 2px solid var(--purple);
	z-index: 3;

}

.active {
	color: var(--purple);
}

.content-team {
	text-align: center;
	padding: 30px;
	color: var(--font);
}

.content-team {
	display: none;
	padding: 20px 20px;
	flex-direction: column;
}

.content-team h3 {
	margin: 20px 0;
	color: var(--purple);
	text-transform: uppercase;
}

.content-team p {
	margin-top: 10px;
	font-family: 'Roboto';
}

.content-team.active {
  	display: flex;
}

.achiv-heading {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
	text-transform: uppercase;
	color: var(--purple);
}

.achiv-heading h2 {
	margin: 0;
}

.achiv-content {
	font-family: 'Roboto';
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.achiv-title {
	font-weight: bold;
	color: var(--font);
	font-size: 20px;
}

.achiv-about {
	text-align: center;
	color: var(--font);
}

.team-title {
	font-family: 'Heebo';
	color: var(--purple);
	text-transform: uppercase;
	margin-bottom: 15px;
}

.team-details {
	margin-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.team-about {
	font-weight: bold;
	color: var(--font);
	font-size: 20px;
	margin-bottom: 10px;
	text-align: center;
}

.content {
	width: 100%;
	min-height: 300px;
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	display: flex;
	justify-content:space-evenly;
	align-items: center;
	margin-bottom: 50px;
}
 
.card {
	width: 100%;
	max-width: 300px;
	min-width: 200px;
	height: 250px;
	background-color: #0e0e0e;
	margin: 10px;
	border-radius: 10px;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 1);
	border: 2px solid rgba(7, 7, 7, 0.12);
	font-size: 16px;   
	transition: all 0.3s ease;
	top: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: all 0.3s ease;
	position: relative;
	/*
	box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05),
				5px 5px 15px rgba(0, 0, 0, 0.5);*/
}

.card a {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card a:hover {
	text-decoration: none;
}
 
.icon {
	width: 100%;
	height: 80px;
	max-width:80px;
	background: linear-gradient(90deg, var(--purple) 0%, #ff8400 40%, rgba(0, 0, 0, 0.4) 60%);
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	transition: all 0.8s ease;
	background-position: 0px;
	background-size: 200px;
	font-size: 28px;
}

.card .title {
	width: 100%;
	margin: 0;
	text-align: center;
	margin-top: 30px;
	color: var(--font);
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 4px;
}
 
.card .text {
	width: 100%;
	margin: 0 auto;
	font-size: 13px;
	text-align: center;
	margin-top: 20px;
	color: white;
	font-weight: 200;
	letter-spacing: 2px;
	opacity: 0;
	max-height:0;
	transition: all 0.3s ease;
}
 
.card:hover {
	height: 270px;
	transform-style: preserve-3d;
}
 
.card:hover .info {
	height: 90%;
}
 
.card:hover .text {
	transition: all 0.3s ease;
	opacity: 1;
	max-height:40px;
}
 
.card:hover .icon {
	background-position: -120px;
	transition: all 0.3s ease;
	transform: translateZ(30px);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
 
.card:hover .icon i {
	background: linear-gradient(90deg, var(--purple), #ff8401);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	opacity: 1;
	transition: all 0.3s ease;
}

/****************************/

@media only screen and (max-width: 1280px) {
	#main-hero {
		display: flex;
		flex-direction: column;
		width: 100vw;
		height: 100vh;
		justify-content: center;
		align-items: center;
	}

	.img-hero {
		width: 100%;
	}

	.img-hero img {
		width: 300px;
	}

	.hero-text {
		width: 100%;
		justify-content: center;
		align-items: center;
		padding: 0 10px;
	}

	.hero-team {
		font-size: 30px;
	}

	.hero-team span {
		font-size: 40px;
	}

	.hero-type {
		font-size: 28px;
	}

	.hero-tag {
		font-size: 18px;
		text-align: center;
	}


	.achievements-bar {
		width: 95%;
		padding: 40px 10px;
	}

	.buttonWrapper {
		grid-template-columns: 1fr;
	}

	.tab-button {
		//border-radius: 25px;
	}

	.tab-left {
		border-radius: 40px 40px 0 0;
	}

	.tab-right {
		border-radius: 0 0 40px 40px;
	}

	.content {
		flex-direction: column;
	}
}
